section {}

.wrap {
    padding: 1rem 5rem;
    background-color: #fff;
}

.search {
    display: grid;
    grid-template-columns: 15fr 2fr;
    grid-column-gap: 1rem;
    padding: 2rem;
}

.search form {
    display: grid;
    grid-template-columns: 7fr 4fr 4fr;
    grid-column-gap: 1rem;
}

.search form label {
    font-size: 1.25rem;
}

.list-recruitment ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
}

.list-recruitment ul li {
    list-style: none;
}

.list-recruitment ul li a {
    font-size: 1rem;
}

.content {
    /* background-color: rgb(145, 149, 204); */
    background-image: url("../../../../assets/img/tuyen_dung_trong_yeu_Background.png");
    background-attachment: fixed;
    background-size: contain;
    text-align: center;
    padding: 3rem 5rem;
    color: #fff;
}

.content h2 {
    font-size: 2rem;
}

.content p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.span-news {
    border-radius: 3px;
    width: 35px;
    height: 15px;
    background-color: #45b854;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 5px;
}

.span-hot {
    border-radius: 3px;
    width: 35px;
    height: 15px;
    background-color: #FAA61A;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 5px;
}