<section>
    <div class="title">
        <h1>MÔI TRƯỜNG LÀM VIỆC</h1>
    </div>
    <div class="wrap-content">
        <div class="content">
            <img src="../../../../../assets/img/bg_top_content.png" alt="" width="100%">
            <h2>CMC KHÔNG NGỪNG CỐ GẮNG <br> VÌ HẠNH PHÚC & CÔNG BẰNG <br> TRONG MÔI TRƯỜNG LÀM VIỆC</h2>
            <p>Với hơn 3000 cộng sự trong suốt 26 năm xây dựng và phát triển, CMC tự hào là ngôi nhà chung của những con người thông minh, trẻ trung, nhiệt huyết và đầy khát vọng. Hơn cả những người đồng nghiệp, cộng sự là động lực khiến chúng tôi không
                ngừng cố gắng xây dựng CMC trở thành "Môi trường làm việc đáng mơ ước nhất Việt Nam".</p>
            <h3 style="font-size: 1.25rem; font-weight: bold;"> Thăng tiến và phát triên sự nghiệp lâu dài tại CMC </h3>
        </div>
    </div>
</section>