<!-- banner -->
<section>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <!-- <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul> -->

        <!-- The slideshow -->
        <div class="carousel-inner">

            <div class="carousel-item active contact-banner ">
                <img src="../../../assets/home/img/daniel-olahh.jpg" alt="Chicago" width="100%" height="100%">
                <div class="contact-banner-content">
                    <div class="contact-banner-title" style="color:blanchedalmond">
                        <!-- <div class="contact-banner-title-content"> -->
                        <h2>TRỤ SỞ CHÍNH</h2>
                        <p><i class="fa fa-map-o" aria-hidden="true"></i> &nbsp; Địa chỉ: 29BT1-khu đô thị Mễ Trì Hạ,Phường Mễ Trì,Quận Nam Trừ Liêm,Thành Phố Hà Nội (Đối diện Kangnam)</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Số điện thoại: 0387839103</p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; Email: nextsolutionsvietnam@gmail.com </p>
                        <!-- </div> -->
                        <hr>
                        <h2>CHI NHÁNH</h2>
                        <p><i class="fa fa-map-o" aria-hidden="true"></i> &nbsp; Địa chỉ: 18A7-Tòa nhà Sun Square, số 21 Lê Đức Thọ, Nam Từ Liêm, Hà Nội</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Số điện thoại: 0387839103</p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; Email: tsolutionvietnam@gmail.com</p>
                        <!-- </div> -->
                    </div>
                    <form>
                        <h2>Contact with us</h2>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Your Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your Email</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your Subject</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <!-- <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>
                </div>
            </div>
            <!-- 
            <div class="carousel-item contact-banner ">
                <img src="../../../assets/home/img/daniel-olahh.jpg" alt="Chicago" width="100%" height="100%">
                <div class="contact-banner-content">
                    <div class="contact-banner-title" style="color:blanchedalmond">
                        <h2>CHI NHÁNH</h2>
                        <p><i class="fa fa-map-o" aria-hidden="true"></i> &nbsp; Địa chỉ:</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Số điện thoại:</p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; Email: </p>
                    </div>
                    <form>
                        <h2>Contact with us</h2>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Your Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your Email</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your Subject</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Your Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div> -->

        </div>

        <!-- Left and right controls -->
        <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a> -->

    </div>

</section>