<section>
    <h1 class="text-center">THÔNG TIN VỀ CÔNG TY</h1>
    <a class="information-content" href="javascript:void(0)">
        <h2>Hỗ trợ</h2>
        <img src="../../../../assets/home/img/posts/1.jpg" alt="" width="100%">
        <p class="information-content-content">Công ty Cổ phần Công nghệ T- Solution là công ty hoạt động trong lĩnh vực IT có văn phòng làm việc tại Hà Nội. Công ty có môi trường làm việc chuyên nghiệp, mang tính quốc tế cao, luôn tạo điều kiện cho các cá nhân có cơ hội phát triển nghề nghiệp.</p>
    </a>
    <a class="information-content" href="javascript:void(0)">
        <h2>Tuyển dụng</h2>
        <img src="../../../../assets/home/img/posts/1.jpg" alt="" width="100%">
        <p class="information-content-content">Công ty Cổ phần Công nghệ T- Solution là công ty hoạt động trong lĩnh vực IT có văn phòng làm việc tại Hà Nội. Công ty có môi trường làm việc chuyên nghiệp, mang tính quốc tế cao, luôn tạo điều kiện cho các cá nhân có cơ hội phát triển nghề nghiệp.</p>

    </a>
    <a class="information-content" href="javascript:void(0)">
        <h2>Liên hệ</h2>
        <img src="../../../../assets/home/img/posts/1.jpg" alt="" width="100%">
        <p class="information-content-content">Công ty Cổ phần Công nghệ T- Solution là công ty hoạt động trong lĩnh vực IT có văn phòng làm việc tại Hà Nội. Công ty có môi trường làm việc chuyên nghiệp, mang tính quốc tế cao, luôn tạo điều kiện cho các cá nhân có cơ hội phát triển nghề nghiệp.</p>

    </a>
</section>