<section *ngIf="add">
    <h2 mat-dialog-title>Thêm chức danh</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form add-grid-form" [formGroup]="Form">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Chức danh (*)</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <!-- <div class="form-group">
                <label for="careersName">Chức danh</label>
                <input type="text" class="form-control" formControlName="name">
            </div> -->
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="addCity()" cdkFocusInitial> Thêm </button>
        <button mat-button mat-dialog-close>Thoát</button>
    </mat-dialog-actions>
</section>

<section *ngIf="edit">
    <h2 mat-dialog-title>Sửa thông tin chức danh</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form add-grid-form" [formGroup]="Form">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Chức danh (*)</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <!-- <div class="form-group">
                <label for="careersName">Chức danh</label>
                <input type="text" class="form-control" formControlName="name">
            </div> -->
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="editCity()" cdkFocusInitial> Lưu </button>
        <button mat-button mat-dialog-close> Thoát </button>
    </mat-dialog-actions>
</section>

<section *ngIf="delete">
    <h2 mat-dialog-title>Xóa chức danh</h2>
    <mat-dialog-content class="mat-typography">
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="deleteCity()" mat-dialog-close> Xóa </button>
        <button mat-button mat-dialog-close>Thoát</button>
    </mat-dialog-actions>
</section>