<section>
    <div class="wrap">
        <h2>Vì sao chọn T-Solution</h2>

        <div class="content">
            <div class="ul-left d-flex align-items-center">
                <ul>
                    <li>
                        <h3>
                            Phát triển sự nghiệp một cách bền vững, lâu dài
                        </h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/img/success_icon.png" alt="" width="42px" height="42px" class="d-flex justify-content-center">
                        </div>
                    </li>
                    <li>
                        <h3>
                            Rèn luyện bản lĩnh nghề nghiệp trong môi trường chuẩn quốc tế
                        </h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/img/success_icon.png" alt="" width="42px" height="42px" class="d-flex justify-content-center">
                        </div>
                    </li>
                    <li>
                        <h3>
                            Cân bằng hài hòa giữa công việc và cuộc sống
                        </h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/img/success_icon.png" alt="" width="42px" height="42px" class="d-flex justify-content-center">
                        </div>
                    </li>
                </ul>
            </div>

            <video class="video-intro" controls="" controlslist="nodownload" autoplay="autoplay" muted="">
            <source src="https://tuyendung.cmc.com.vn/upload_server/video/home/CMC_VideoIntro01.mp4" type="video/mp4">
            <source src="https://tuyendung.cmc.com.vn/upload_server/video/home/CMC_VideoIntro01.mp4" type="video/ogg">
        </video>
            <div class="ul-right d-flex align-items-center">
                <ul>
                    <li>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/img/success_icon.png" alt="" width="42px" height="42px" class="d-flex justify-content-center">
                        </div>
                        <h3>
                            Thu nhập hợp lí với năng lực và khả năng đóng góp
                        </h3>
                    </li>
                    <li>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/img/success_icon.png" alt="" width="42px" height="42px" class="d-flex justify-content-center">
                        </div>
                        <h3>
                            Phát triển cá nhân song hành cùng sự lớn mạnh của tập thể
                        </h3>
                    </li>
                    <li>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/img/xem them 42x42.png" alt="" width="42px" height="42px" class="d-flex justify-content-center">
                        </div>
                        <h3>
                            <a href="javascript:void(0)" [routerLink]="['/home/more']"> Xem thêm </a>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
        <h2>Về T-Solution với tôi nhé</h2>
    </div>
    <!-- <br> -->

</section>