/* Structure */


/* table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.filed_and_add {
    display: grid;
    grid-template-columns: 1fr 8fr;
} */


/* .hide {
    display: none;
} */


/*mat-table*/


/* 
.loading-data {
    justify-content: center;
    font-style: italic;
} */