<section class="text-center">
    <h1>CÁC DỊCH VỤ</h1>
    <a href="javascript:void(0)" class="service-content ">
        <i class="fa fa-print fa-5x" aria-hidden="true"></i>
        <h2>PRINT</h2>
        <p class="information-content-content">Công ty Cổ phần Công nghệ T- Solution là công ty hoạt động trong lĩnh vực IT có văn phòng làm việc tại Hà Nội. Công ty có môi trường làm việc chuyên nghiệp, mang tính quốc tế cao, luôn tạo điều kiện cho các cá nhân có cơ hội phát triển nghề nghiệp.</p>

    </a>
    <a href="javascript:void(0)" class="service-content">
        <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
        <h2>WEB DESIGN
        </h2>
        <p class="information-content-content">Công ty Cổ phần Công nghệ T- Solution là công ty hoạt động trong lĩnh vực IT có văn phòng làm việc tại Hà Nội. Công ty có môi trường làm việc chuyên nghiệp, mang tính quốc tế cao, luôn tạo điều kiện cho các cá nhân có cơ hội phát triển nghề nghiệp.</p>

    </a>
    <a href="javascript:void(0)" class="service-content">
        <i class="fa fa-camera fa-5x" aria-hidden="true"></i>
        <h2>PHOTOGRAPHY</h2>
        <p class="information-content-content">Công ty Cổ phần Công nghệ T- Solution là công ty hoạt động trong lĩnh vực IT có văn phòng làm việc tại Hà Nội. Công ty có môi trường làm việc chuyên nghiệp, mang tính quốc tế cao, luôn tạo điều kiện cho các cá nhân có cơ hội phát triển nghề nghiệp.</p>

    </a>
    <a href="javascript:void(0)" class="service-content">
        <i class="fa fa-cloud fa-5x" aria-hidden="true"></i>
        <h2>CLOUD SYSTEM
        </h2>
        <p class="information-content-content">Công ty Cổ phần Công nghệ T- Solution là công ty hoạt động trong lĩnh vực IT có văn phòng làm việc tại Hà Nội. Công ty có môi trường làm việc chuyên nghiệp, mang tính quốc tế cao, luôn tạo điều kiện cho các cá nhân có cơ hội phát triển nghề nghiệp.</p>

    </a>
</section>