.add-grid-form {
    grid-template-columns: repeat(2, 1fr);
}

textarea {
    width: 98%;
    height: 5rem;
}

.articles-content {
    grid-column: 1/3;
}

.articles-content-textarea {
    height: 10rem;
}